---
# Front matter comment to ensure Jekyll properly reads file.
---

// Author on blog post
.authorText {
  font-size: 17px;
  line-height: 1;
}

body {
  font-family: proxima-nova,Helvetica Neue,Arial,sans-serif!important;
  /* default is 1rem or 16px */
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

/* Increase all font sizes on mobile */
@media (max-width: 767px) {
  body {
    /* default is 1rem or 16px */
    font-size: 25px;
  }
}

a:hover {
  color: inherit;
}

// Signup Row
label {
  padding-right: 20px;
}

#mce-EMAIL {
  margin-right: 10px;
}

// Tweet Row
.bgimgtweet {
  background: url('/images/PodcastBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.videoDemo {
  width: 100%    !important;
  height: auto   !important;
}

.card {
  border: none;
  border-radius: 0px;
  margin: 0px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(237,232,237,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(237,232,237,1);
box-shadow: 0px 0px 4px 0px rgba(237,232,237,1);
  cursor: pointer;
}

.card-title {
  color: white;
}

.card-body {
  color: white;
}

a:hover {
  text-decoration: none;
}

.card-img {
  padding: 25px;
  object-fit: cover;
  overflow: hidden;
  height: 230px;
}

.featured-card-img {
  padding: 20px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.featured-card {
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding: 25px;
}

.featured-card:hover {
  cursor: pointer;
}

.half-card-img {
  padding: 20px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.post-img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 370px;
}
