---
# Front matter comment to ensure Jekyll properly reads file.
---

// Author on blog post
.authorText {
  font-size: 17px;
  line-height: 1;
}

body {
  font-family: proxima-nova, Helvetica Neue, Arial, sans-serif !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 767px) {
  body {
    font-size: 18px;
  }
}

a:hover {
  color: inherit;
  text-decoration: none;
}


.card {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card a:not(.text-info),
.featured-card a:not(.text-info) {
  color: inherit;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.post-img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 370px;
}
