<div class="card mb-3">
  <a
    class="text-white"
    href="{{ include.link }}"
    target="\_blank">
    <div class="row no-gutters">
      <div class="col-md-10">
        <div class="card-body">
          <h4 class="card-title">{{ include.title }}</h4>

          <p class="card-text">{{ include.content }}</p>

          <p class="card-text"><small class="text-muted">Listen Now</small></p>
        </div>
      </div>

      <div class="col-md-2">
        <img
          class="mr-3 rounded"
          alt="{{ include.title }}"
          src="{{ include.image }}"
          height="200"/>
      </div>
    </div>
  </a>
</div>
